django-oauth-toolkit==2.3.0
dj-database-url==2.1.0
Django==5.0.1
djangorestframework==3.14.0
django-oidc-provider==0.8.2
psycopg2==2.9.9
PyJWT==2.8.0
rsa==4.9
cryptography==42.0.2
jwks==1.0.0
python-jose==3.3.0
